@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IntegralCFBold';
    src: url('http://localhost:8000/assets/fonts/IntegralCF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('http://localhost:8000/assets/fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('http://localhost:8000/assets/fonts/Satoshi-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('http://localhost:8000/assets/fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        font-family: 'Satoshi-Regular', sans-serif;
    }
}
